
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- BODY !!!!!!! -->

  
<body>
  
<div class="bgimg">
  <div class="middle w3-padding-16" style="top:10%">
    <h1>Your pass has been closed. You may close the webpage.</h1>
    <hr class="rounded">
  </div>
</div>
</body>
</html>

