
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- BODY !!!!!!! -->

  
<body>
  
<div class="bgimg">
  <div class="middle w3-padding-16" style="top:10%">
    <h1>Send a pass</h1>
    <hr class="rounded">
    <h3>Enter the student's information</h3>
    
  </div>
  <div>
    
  </div>
  <form method="post">
      <div class="middle">       
        <label for="student"><h3>Student ID</h3></label>
        <p>
        <input type="text" name="student" style="width:30%" required>
        </p>
        <label for="destination"><h3>Destination</h3></label>
        <p>
        <input type="text" name="destination" style="width:30%" required>
        </p>

        <label for="reason"><h3>Reason</h3></label>
        <p>
        <input type="text" name="reason" style="width:30%" required>
        </p>
        <label for="start"><h3>Pass Start Time</h3>
        <p>
        <input type="time" name="start" required>
        </p>
        <label for="end"><h3>Pass Expire Time</h3>
        <p>
        <input type="time" name="end" required>
        </p>



        
      <div class="middle w3-padding-16" style="width:20%">
        <button class="w3-button w3-pink" type="submit"><h3 style="text-align:middle;margin:auto">Next</h3></button>
      </div>
  
    </form>
</div>
</body>
</html>

